.filas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    grid-template-rows: auto;
}

.busc {
    display: flex;
    height: auto;
    margin-bottom: 2rem;
}
.busc a {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
}